data/TEST_SET_GSE62944_subsample_log2TPM.csv
data/TRAINING_SET_GSE62944_subsample_log2TPM.csv
data/VALIDATION_SET_GSE62944_subsample_log2TPM.csv
/Users/amelialuongo/Desktop/comp bme/Module-4-Cancer/data/TRAINING_SET_GSE62944_subsample_log2TPM.csv
/Users/amelialuongo/Desktop/comp bme/Module-4-Cancer/data/VALIDATION_SET_GSE62944_metadata.csv
